* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header1 {
    padding: 60px;
    text-align: center;
    height: 650px;
    background-size: cover;
    background-image: url("../image/bgimg.jpeg");
    background-repeat: no-repeat;
    color: yellow;
}
.welcome {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;

}
.welcome1 {
    font-size: 40px;

}
.button {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px 25px 10px 25px;
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: yellow;
    margin-right: 20px;
}
.button1 {
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px 25px 10px 25px;
    border: 2px solid yellow;
    border-radius: 5px;
    background-color: yellow;
}
.header {
    padding: 60px;
    text-align: left;
    background: #333;
    color: yellow;
}

.navbar {
    display: flex;
    background-color: yellow;
    font-weight: bold;
}

.navbar a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex:100%;
    background-color: white;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
}
.menu {
    float:left;
    width:30%;
    text-align:center;
  }
  .menu a {
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }
  .main1 {
    float:left;
    width:30%;
    padding:0 20px;
  }
  .right {
    float:left;
    width:40%;
    padding:15px;
    margin-top:7px;
    text-align:center;
  }
  img{
      border-radius: 50%;
      margin-left: 70px;
  }
  .user_div {
      text-align: center;
      font-weight: bold;

  }
  .user_info {
    text-align: center;
    font-weight: bold;
  }
  .request_id {
      text-decoration: none;
      font-weight: bold;
      text-align: center;
  }
  .request_id:hover {
      color: red;
  }
  .input_field1 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin: auto;
  }
  input[type=submit] {
    background-color: yellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin:5px auto;
  }
  input[type=text], select, textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 5px auto;
}
  
  @media only screen and (max-width:700px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
  }